# Safekeepers controls all files in the repository.
* @Phishing-Database/safekeepers @Phishing-Database/maintainers

# Except the files in the .github directory.
.github/ @Phishing-Database/maintainers
